/*--------------------
実績
---------------------*/
.works-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
.works-items .item img:hover {
  opacity: 0.7;
  transition: all 0.3s;
}

/*--------------------
リンク
---------------------*/
.link-items {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.link-items img {
  width: 48px;
}

/*--------------------
レスポンシブ
---------------------*/
@media screen and (max-width: 414px) {
  .header-nav-items {
    margin-right: 0;
    padding: 0 16px;
  }

  .works-items {
    justify-content: center;
  }

  .link-items {
    gap: 30px;
  }
}
