@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  display: flex;
  justify-content: center;
  font-family: Josefin sans;
}

main {
  width: 100%;
  padding: 2rem;
}

section {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2rem;
  margin-bottom: 120px;
}
.section-title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 60px;
  text-align: center;
  letter-spacing: 8px;
  font-family: Josefin Sans;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

li {
  list-style-type: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
